<tr>
  <th scope="row" class="row-header" rowspan="2">
    {% if include.extension.extension.where(url = 'name').exists() and include.extension.extension.where(url = 'libraryName') %}
      {% assign logicDefUrl = 'primary-' + include.extension.extension.where(url = 'libraryName').value.lower().replace(' ', '-') + '-' + include.extension.extension.where(url = 'name').value.lower().replace(' ', '-') %}
      <a name="{{logicDefUrl}}"> </a>
    {% endif %}
    {% if include.header.exists() %}
    {{include.header}}
    {% else %}
    Logic Definition
    {% endif %}
  </th>
</tr>
<tr>
{% for statementExtension in include.extension.extension.where(url = 'statement') %}
  <td>
    <pre class="content-container highlight language-cql" style="border: none;"><code class="language-cql">{{statementExtension.value}}</code></pre>
  </td>
{% endfor %}
</tr>
