{% if include.measure.extension.where(url = 'http://hl7.org/fhir/uv/crmi/StructureDefinition/crmi-effectiveDataRequirements' or url = 'http://hl7.org/fhir/uv/crmi/StructureDefinition/crmi-effectiveDataRequirements').exists() %}
  {%include section-header.html header='Dependencies' link='dependencies' %}
  {% for contained in include.measure.contained.where(id.contains('effective-data-requirements')) %}
  {% if contained.relatedArtifact.where(type = 'depends-on' and ((display.lower().contains('value') or resource.lower().contains('value')) or (display.lower().contains('code') or resource.lower().contains('code'))).not()).exists() %}
  {%include related-artifact-dependency.html relatedArtifact=contained.relatedArtifact %}
  {% else %}
  {%include default.html header='Dependency' content='None' %}
  {% endif %}
  {% endfor %}
{% endif %}