{% assign displayNone = include.measure.extension.where(url='http://hl7.org/fhir/uv/cqm/StructureDefinition/cqm-renderMissingElements' and value) %}
{% assign rootScoring = include.measure.scoring %}
{%include knowledge-artifact-metadata.html resource=include.measure %}
{% assign populationBasis = include.measure.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-populationBasis' or url = 'http://hl7.org/fhir/uv/cqm/StructureDefinition/cqm-populationBasis') %}
{%include default.html header='Measure Basis' content=populationBasis.value displayNone=(displayNone.exists() and rootScoring.exists()) %}
{%include default.html header='Measure Scoring' content=include.measure.scoring %}
{% assign scoringUnit = include.measure.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-scoringUnit' or url = 'http://hl7.org/fhir/uv/cqm/StructureDefinition/cqm-scoringUnit') %}
{%include default.html header='Measure Scoring Unit' content=scoringUnit.value displayNone=(displayNone.exists() and rootScoring.exists()) %}
{% assign scoringPrecision = include.measure.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-scoringPrecision' or url = 'http://hl7.org/fhir/uv/cqm/StructureDefinition/cqm-scoringPrecision') %}
{%include default.html header='Measure Scoring Precision' content=scoringPrecision.value displayNone=(displayNone.exists() and rootScoring.exists()) %}
{%include default.html header='Improvement Notation' content=include.measure.improvementNotation displayNone=(displayNone.exists() and rootScoring.exists()) %}
{% assign improvementNotationGuidance = include.measure.extension.where(url = 'http://hl7.org/fhir/StructureDefinition/cqf-improvementNotationGuidance') %}
{%include default.html header='Improvement Notation Guidance' content=improvementNotationGuidance.value displayNone=(displayNone.exists() and rootScoring.exists()) %}
{%include default.html header='Measure Composite Scoring' content=include.measure.compositeScoring %}
{%include default-list.html header='Measure Type' content=include.measure.type displayNone=(displayNone.exists() and rootScoring.exists()) %}
{%include default.html header='Risk Adjustment' content=include.measure.riskAdjustment displayNone=(displayNone.exists() and rootScoring.exists()) %}
{%include default.html header='Rate Aggregation' content=include.measure.rateAggregation displayNone=(displayNone.exists() and rootScoring.exists()) %}
{%include default.html header='Rationale' content=include.measure.rationale displayNone=displayNone.exists() %}
{%include default.html header='Clinical Recommendation Statement' content=include.measure.clinicalRecommendationStatement displayNone=displayNone.exists() %}
{%include knowledge-artifact-guidance.html resource=include.measure %}
