{% for population in include.group.population %}
  {% if population.code.exists() and population.code.coding.exists() %}
    {%assign populationLinkId = population.extension.where(url.endsWith('linkId')).value %}
    {%assign populationKey = iif(populationLinkId.exists(), populationLinkId, iif(population.id.exists(), population.id, population.code.coding.first().code)) %}
    <tr>
      {% if population.code.coding.first().display.exists() %}
        {%include row-header.html header=population.code.coding.first().display %}
      {% else %}
        {% if population.code.coding.where(code = 'initial-population') or population.code.coding.where(code = 'numerator') or population.code.coding.where(code = 'numerator-exclusion') or population.code.coding.where(code = 'denominator') or population.code.coding.where(code = 'denominator-exclusion') or population.code.coding.where(code = 'denominator-exception') or population.code.coding.where(code = 'measure-population') or population.code.coding.where(code = 'measure-population-exclusion') or population.code.coding.where(code = 'measure-observation') %}
          {% if population.code.coding.where(code = 'initial-population') %}
            {%include row-header.html header='Initial Population' %}
          {% endif %}
          {% if population.code.coding.where(code = 'numerator') %}
            {%include row-header.html header='Numerator' %}
          {% endif %}
          {% if population.code.coding.where(code = 'numerator-exclusion') %}
            {%include row-header.html header='Numerator Exclusion' %}
          {% endif %}
          {% if population.code.coding.where(code = 'denominator') %}
            {%include row-header.html header='Denominator' %}
          {% endif %}
          {% if population.code.coding.where(code = 'denominator-exclusion') %}
            {%include row-header.html header='Denominator Exclusion' %}
          {% endif %}
          {% if population.code.coding.where(code = 'denominator-exception') %}
            {%include row-header.html header='Denominator Exception' %}
          {% endif %}
          {% if population.code.coding.where(code = 'measure-population') %}
            {%include row-header.html header='Measure Population' %}
          {% endif %}
          {% if population.code.coding.where(code = 'measure-population-exclusion') %}
            {%include row-header.html header='Measure Population Exclusion' %}
          {% endif %}
          {% if population.code.coding.where(code = 'measure-observation') %}
            {%include row-header.html header='Measure Observation' %}
          {% endif %}
        {% else %}
          {%include row-header.html header='Unknown Population Type' %}
        {% endif %}
      {% endif %}
      <td class="content-container">
        {% if populationLinkId.exists() or population.id.exists() %}
        <em>ID</em>: {{populationKey}}
        <br />
        {% endif %}
        {% if population.description.exists() %}
          <em>Description</em>:
          <p class="tab-one" style="white-space: pre-line">{{population.description}}</p>
        {% else %}
          {% if population.criteria.description.exists() %}
          <em>Description</em>:
          <p class="tab-one" style="white-space: pre-line">{{population.criteria.description}}</p>
          {% else %}
          <em>Description</em>: No description provided
          {% endif %}
        {% endif %}
        {% if population.criteria.exists() %}
          {% if population.criteria.language.startsWith('text/cql') and population.criteria.expression.exists() %}
            {% if include.measure.library.exists() and include.measure.contained.where(id.contains('effective-data-requirements')).exists() %}
              {% assign popDefAnchor = '#' + include.groupKey + '-' + populationKey %}
              <em>Criteria</em>: <a href="{{popDefAnchor}}">{{population.criteria.expression}}</a> 
            {% else %}
              <em>Criteria</em>: {{population.criteria.expression}}
            {% endif %}
          {% endif %}
          {% if population.criteria.language.startsWith('text/plain') and population.criteria.expression.exists() %}
            <em>Criteria</em>: {{population.criteria.expression}}
          {% endif %}
        {% endif %}
        {% for criteriaReference in population.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-criteriaReference' or url = 'http://hl7.org/fhir/StructureDefinition/cqf-criteriaReference') %}
          <br/><em>Input Population</em>: {{criteriaReference.value}}
        {% endfor %}
        {% for aggregateMethod in population.extension.where(url = 'http://hl7.org/fhir/us/cqfmeasures/StructureDefinition/cqfm-aggregateMethod' or url = 'http://hl7.org/fhir/uv/cqm/StructureDefinition/cqm-aggregateMethod') %}
          <em>AggregateMethod</em>: {{aggregateMethod.value}}
        {% endfor %}
      </td>
    </tr>
  {% endif %}
{% endfor %}