{% for parameter in include.parameter.distinct() %}
<tr>
  {%include row-header.html header=include.header %}
  <td class="content-container">
    {% if parameter.name.exists() %}
    <em>Name</em>: {{parameter.name}}
    {% endif %}
    {% if parameter.use.exists() or parameter.min.exists() or parameter.max.exists() or parameter.type.exists() %}
    <br />
    {% endif %}
    {% if parameter.use.exists() %}
    <em>Use</em>: {{parameter.use}}
    {% endif %}
    {% if parameter.min.exists() or parameter.max.exists() or parameter.type.exists() %}
    <br />
    {% endif %}
    {% if parameter.min.exists() %}
    <em>Min Cardinality</em>: {{parameter.min}}
    {% endif %}
    {% if parameter.max.exists() or parameter.type.exists() %}
    <br />
    {% endif %}
    {% if parameter.max.exists() %}
    <em>Max Cardinality</em>: {{parameter.max}}
    {% endif %}
    {% if parameter.type.exists() %}
    <br />
    {% endif %}
    {% if parameter.type.exists() %}
    <em>Type</em>: {{parameter.type}}
    {% endif %}
  </td>
</tr>
{% endfor %}